* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
    position: relative;
}
