@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
    position: relative;
}

.section{
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

a{
  text-decoration: none !important;
}

.unset-img {
  width: 100%;
  position: relative !important;
}
.unset-img > div {
  position: unset !important;
}

.custom-img {
  object-fit: contain;
  width: 100% !important;
  height: unset !important;
}