#resume-section .resume-heading{
    text-align: center;
}

#navi{
    top: 180px;
    position: -webkit-sticky;
    position: sticky;
    margin: 0;
    padding-bottom: 100px;
}

#navi li{
    font-weight: 700;
    list-style: none;
    margin-bottom: 10px;
}

#navi li a{
    color: #000000;
}

#navi li a.current {
    color: #3e64ff;
    margin-left: 20px;
    position: relative;
}

.page{
    width: 100%;
    margin-bottom: 7em;
}

.page h2{
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 30px;
    color: #3e64ff !important;
}

.resume-wrap{
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

.resume-wrap .icon{
    width: 50px;
    height: 50px;
    background: #3e64ff;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
}

.resume-text .date{
    font-weight: 700;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    color: #3e64ff !important;
}

.resume-text h2{
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    color: black !important;
}

.resume-text .resume-title{
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}